$cell-margin: 0.25rem;
.vizmiz-matrix {
  &-wrapper {
    display: flex;
  }
  &-column {
    display: flex;
    flex-direction: column-reverse;
  }
  &-cell {
    margin-bottom: $cell-margin;
    margin-right: $cell-margin;
  }
}
